@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.derections__img-wp
		height: 392px
	.derections__img-wp-2
		height: 345px
	.derections__img-wp-3
		height: 275px
	.sponsors__item
		width: 33.33333%
		margin-left: 0
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.askaquestion
		width: 361px
		margin: 0 auto
		text-align: center
	.writetous__button
		margin: 0 auto
	.slider__right-button
		left: 0
		right: 0
		width: 200px
		margin: 0 auto
	.slider
		.slick-dots
			bottom: 18px
	.bg-slider
		display: none
	.header
		height: auto
		background-color: #0d87ca
	.header__top
		height: auto
	.logo
		&__link
			margin: 0 auto
	.slider
		padding-top: 20px
		&__item
			text-align: center
			&-img
				width: 100%
	.slider__right
		padding-top: 40px
	.slider__item-img
		height: 200px
		width: auto
		margin: 0 auto
	.advantages__item-img
		width: 400px
		margin: 0 auto
	.footer__top
		height: auto
		padding-bottom: 30px
	.footer__bottom
		height: auto
		text-align: center
		padding-bottom: 10px
	.designed__img-wp
		margin: 0 auto
		padding-top: 0
		float: none
	.designed__text
		float: none
		display: none
	.designed
		text-align: center
	.footer__top-phone-wp
		text-align: center
	.phone__wp
		padding-top: 0
		padding-bottom: 16px !important
	.language__wp
		padding-top: 0
		padding-bottom: 16px
	.nav
		display: none
		z-index: 999
		background-color: #0875b8
	.nav__item
		display: block
		margin: 0 auto
		&:first-child
			margin: 0 auto
	.nav__link
		line-height: 100% !important
		padding: 10px 0
	.footer__top-nav
		padding: 30px 0
	.nav
		padding: 30px 0
		position: absolute
		left: 0
		right: 0
		width: 132.4%
		margin-left: -16.2%
		border-bottom: 1px solid #fff
		border-top: 1px solid #fff
	.phone__wp
		padding-bottom: 30px
	.about__img-wp
		margin-top: 16px
	.three__first
		margin-top: 24px !important
	.three
		margin-top: 0
	.contacts-wrapper
		padding-bottom: 40px
	.derections__img
		height: auto
	.derections__img-wp, .derections__img-wp-2, .derections__img-wp-3
		height: auto
	.sponsors__item
		width: 50%
		text-align: center
	.nav-toggle
		display: block
		position: relative
		width: 17px
		cursor: pointer
		margin: 16px auto
		&::after
			content: "\f0c9"
			font-family: FontAwesome
			display: block
			left: 0
			top: 0
			font-size: 20px
			color: #fff
	.footer__top-nav
		display: block
		background-color: transparent
		border: none
		position: relative
	.advantages__right
		padding-top: 16px
	.advantages__item-img
		height: 100%
		width: auto
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.slider__right
		height: 394px
	.nav__item
		width: 100% !important
	.slider__right-title
		font-size: 30px
	.slider__right-description
		font-size: 14px
	.advantages__right-title
		font-size: 20px
	.advantages__right-description
		font-size: 12px
	.advantages__item-img
		width: 100%
		height: auto
	.advantages__right
		padding-top: 35px
	.writetous
		width: 300px
		height: 430px
	.askaquestion
		.writetous__input
			width: 100%
		.writetous__textarea
			width: 100%
		.writetous__button
			width: 100%
	.sponsors__item
		width: 100%
		text-align: center
		height: 95px
	.advantages__item-img-wp
		height: 170px
		img
			height: 100%
			display: block
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.nav-toggle
		display: none
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

