@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .designed:after, .sponsors:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .designed:before, .sponsors:before {
  content: '';
  display: table;
}

a:hover, a:focus, a:active {
  color: #fff;
  text-decoration: none;
}

body .ui-menu .ui-menu-item-wrapper {
  text-transform: uppercase !important;
  font-size: 14px;
}

body .ui-widget.ui-widget-content {
  background-color: #1a71a7;
  border: none;
}

body .ui-menu-item-wrapper {
  color: #fff;
  letter-spacing: 0.5px;
  padding: 10px 0 !important;
  text-align: center;
}

body .ui-state-active, body .ui-widget-content .ui-state-active, body .ui-widget-header .ui-state-active, body a.ui-button:active, body .ui-button:active, body .ui-button.ui-state-active:hover {
  border: none !important;
}

body .ui-menu .ui-state-focus, body .ui-menu .ui-state-active {
  margin: 0 !important;
}

body .ui-button {
  padding: 10px 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "OpenSansRegular", sans-serif;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.header {
  height: 620px;
  position: relative;
}

.header__top {
  background-color: rgba(48, 86, 134, 0.4);
  height: 78px;
}

.logo {
  padding-top: 16px;
}

.logo__link {
  display: block;
  width: 112px;
  height: 40px;
}

.logo__img {
  width: 100%;
  display: block;
}

.nav {
  font-size: 0;
}

.nav__item {
  display: inline-block;
  width: 25%;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: block;
  line-height: 78px;
}

.nav__link:hover {
  background-color: #1971a8;
}

.phone {
  color: #fff;
}

.phone a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: inline-block;
}

.phone__wp {
  padding-top: 27px;
  text-align: center;
}

.language {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
}

.language__wp {
  padding-top: 20px;
  text-align: center;
}

.language .ui-selectmenu-button-closed {
  width: 67px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  padding-left: 17px;
}

.language .ui-selectmenu-button-closed::after {
  content: '\f107';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.language .ui-selectmenu-button-open {
  width: 67px;
  background-color: #1a71a7;
  border: none;
  color: #fff;
  position: relative;
  padding-left: 17px;
}

.language .ui-selectmenu-button-open::after {
  content: '\f106';
  font-family: FontAwesome;
  position: absolute;
  display: block;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.language .ui-selectmenu-icon {
  display: none;
}

.slider {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 63px;
  position: relative;
}

.slider .slick-dots {
  font-size: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider .slick-dots li {
  display: inline-block;
  margin-left: 28px;
  width: 15px;
  height: 15px;
  position: relative;
}

.slider .slick-dots li:first-child {
  margin-left: 0;
}

.slider .slick-dots li button {
  height: 9px;
  width: 9px;
  padding: 0;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  text-indent: -9999px;
  margin: 0 auto;
  margin-top: 3px;
}

.slider .slick-dots .slick-active button {
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0px 0px 5px 1px white;
  -moz-box-shadow: 0px 0px 5px 1px white;
  box-shadow: 0px 0px 5px 1px white;
  margin-top: 0;
}

.slider__item {
  text-align: left;
}

.slider__item-img {
  display: block;
  width: 80%;
  height: auto;
}

.slider__right {
  height: 352px;
  position: relative;
}

.slider__right-title {
  color: #fff;
  font-family: "PTSerifRegular", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 44px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 16px;
}

.slider__right-description {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  display: block;
  padding-bottom: 34px;
}

.slider__right-button {
  font-size: 16px;
  color: #156da6;
  font-family: "OpenSansSemibold", sans-serif;
  background-color: #fff;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 4px;
  border: 2px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  line-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider__right-button:hover, .slider__right-button:focus, .slider__right-button:active {
  background-color: transparent;
  color: #fff;
}

.bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 620px;
}

.bg-slider__img {
  width: 100%;
  height: 620px;
  display: block;
}

.advantages {
  padding: 40px 0;
}

.advantages__item-img {
  display: block;
  width: 100%;
  height: auto;
}

.advantages__right {
  text-align: center;
  padding-top: 70px;
}

.advantages__right-title {
  font-family: "PTSerifRegular", sans-serif;
  font-size: 30px;
  color: #000;
  display: block;
  margin-bottom: 16px;
  padding-bottom: 10px;
  position: relative;
}

.advantages__right-title::after {
  content: '';
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #0981db;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.advantages__right-description {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.footer__top {
  height: 95px;
  width: 100%;
  background-color: #1f9de9;
}

.footer__top-logo {
  padding-top: 24px;
}

.footer__top-nav .nav__item {
  width: 25%;
}

.footer__top-nav .nav__link {
  line-height: 95px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.footer__top-nav .nav__link:hover {
  background-color: transparent;
  text-decoration: underline;
}

.footer__top-phone-wp {
  padding-top: 35px;
  text-align: right;
}

.footer__bottom {
  height: 50px;
  width: 100%;
  background-color: #225983;
}

.copy {
  color: #fff;
  font-family: "OpenSansSemibold", sans-serif;
  font-size: 12px;
  line-height: 50px;
}

.designed {
  text-align: right;
}

.designed__text {
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  display: block;
  float: right;
  font-family: "OpenSansSemibold", sans-serif;
  margin-right: 12px;
}

.designed__img {
  display: block;
  width: 76px;
  height: 30px;
}

.designed__img-wp {
  padding-top: 10px;
  display: inline-block;
  float: right;
}

.writetous {
  width: 360px;
  height: 447px;
  margin: 0 auto;
  z-index: 999;
  background-color: #fff;
  position: relative;
  padding: 36px 48px 49px 48px;
}

.writetous .mfp-close {
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  background-image: url(../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 13px;
  right: 11px;
}

.writetous__title {
  color: #000;
  font-family: "OpenSansSemibold", sans-serif;
  font-size: 18px;
  display: block;
  padding-bottom: 20px;
}

.writetous__input {
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  display: block;
  padding-left: 20px;
  font-size: 14px;
}

.writetous__input::-webkit-input-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__input::-moz-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__input:-moz-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__input:-ms-input-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__textarea {
  height: 100px;
  border: 1px solid #ccc;
  width: 100%;
  resize: none;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;
}

.writetous__textarea::-webkit-input-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__textarea::-moz-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__textarea:-moz-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__textarea:-ms-input-placeholder {
  color: #808080;
  font-size: 14px;
  font-family: "OpenSansItalic", sans-serif;
}

.writetous__button {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-family: "OpenSansSemibold", sans-serif;
  font-size: 14px;
  background-color: #1c77b6;
  border: none;
  text-align: center;
}

.writetous__description {
  font-size: 14px;
  color: #4c4c4c;
  line-height: 24px;
}

.sent {
  width: 360px;
  height: 173px;
  margin: 0 auto;
  z-index: 999;
  background-color: #fff;
  position: relative;
  padding: 36px 48px 49px 48px;
}

.sent .mfp-close {
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  background-image: url(../img/close.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 13px;
  right: 11px;
}

.path {
  padding: 12px 0 22px 0;
}

.path__item {
  display: inline-block;
}

.path__item::before {
  content: '/';
  color: #808080;
  font-size: 12px;
}

.path__item:first-child::before {
  display: none;
}

.path__link {
  color: #808080;
  font-size: 12px;
}

.path__link:hover {
  color: #808080;
  text-decoration: underline;
}

.path span:hover {
  text-decoration: none;
}

.content__title {
  color: #000;
  font-size: 30px;
  font-family: "PTSerifRegular", sans-serif;
  position: relative;
  padding-bottom: 12px;
}

.content__title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 76px;
  background-color: #0981db;
}

.about {
  padding-top: 16px;
}

.about__description {
  font-size: 14px;
  color: #808080;
  line-height: 24px;
  display: block;
  padding-top: 10px;
}

.about__img {
  width: 100%;
  height: auto;
  display: block;
}

.about__img-wp {
  height: 180px;
  overflow: hidden;
  width: 100%;
}

.about__title {
  color: #000;
  font-family: "OpenSansSemibold", sans-serif;
  font-size: 18px;
  padding-top: 30px;
  display: block;
}

.list {
  padding-top: 24px;
  margin-left: -15px;
}

.list__item {
  padding-left: 16px;
  color: #808080;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-bottom: 18px;
}

.list__item::before {
  content: '•';
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #209de9;
}

.three {
  padding-left: 120px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 24px;
}

.three__icon {
  display: block;
  position: absolute;
  top: 0;
  left: 28px;
  background-image: url(../img/about-icon.png);
}

.three__title {
  color: #0981db;
  font-size: 14px;
  font-family: "OpenSansBold", sans-serif;
  line-height: 24px;
}

.three__description {
  line-height: 24px;
  color: #808080;
  font-size: 14px;
}

.about-wrapper {
  padding-bottom: 80px;
}

.contacts__block {
  padding-top: 24px;
}

.contacts__block-item {
  padding-left: 32px;
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
}

.contacts__block-icon {
  position: absolute;
  background-image: url(../img/contacts-icon.png);
  display: block;
  left: 0;
  top: 50%;
}

.contacts__block-text {
  color: #808080;
  font-size: 14px;
}

.contacts__block-text a {
  color: #808080;
}

.contacts__block-text a:hover {
  text-decoration: underline;
}

.contacts__map {
  padding-top: 17px;
}

.contacts__map iframe {
  width: 100%;
  height: 495px;
}

.askaquestion {
  padding-top: 28px;
}

.askaquestion .writetous__input {
  background-color: #f7f7f7;
  border: none;
  width: 360px;
}

.askaquestion .writetous__textarea {
  background-color: #f7f7f7;
  border: none;
  width: 360px;
}

.askaquestion .writetous__button {
  width: 212px;
}

.contacts-wrapper {
  padding-bottom: 142px;
}

.derections {
  padding-top: 8px;
}

.derections__img {
  width: 100%;
  height: 100%;
}

.derections__img-wp {
  height: 370px;
  overflow: hidden;
  margin-bottom: 24px;
}

.derections__img-wp-2 {
  height: 323px;
  margin-bottom: 24px;
  overflow: hidden;
}

.derections__img-wp-3 {
  height: 254px;
  overflow: hidden;
  margin-bottom: 24px;
}

.derections__description {
  padding-top: 0;
}

.derections__title {
  padding-bottom: 24px;
}

.derections .list {
  padding-top: 14px;
}

.derections .list__item {
  padding-bottom: 0;
}

.sponsors {
  width: 100%;
  font-size: 0;
  padding-top: 20px;
}

.sponsors__item {
  height: 104px;
  display: inline-block;
  position: relative;
  margin-left: 56px;
  height: 100px;
}

.sponsors__item img {
  display: inline-block;
  vertical-align: middle;
}

.sponsors__item:first-child {
  margin-left: 0;
}

.partners__item {
  height: 316px;
  margin-top: 20px;
}

.partners__img-wp {
  text-align: center;
  width: 100%;
  height: 110px;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.06);
  position: relative;
}

.partners__img-wp-w {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.partners__title {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: "OpenSansSemibold", sans-serif;
  margin-top: 12px;
  display: block;
  margin-bottom: 12px;
}

.partners__description {
  color: #808088;
  font-size: 14px;
  line-height: 24px;
}

.advantages__item-img-wp {
  height: 268px;
  overflow: hidden;
}
